# macOS system files
.DS_Store

# Git ignore file itself
.gitignore

# Specific solution files and user settings
*.sln
*.sln.DotSettings.user

# Markdown files
*.md

# Global configuration file
global.json

# JetBrains Rider IDE specific files
.idea/*

# Build output directory
**/bin/Debug/net6.0/*